*, *:before, *:after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Varela Round', sans-serif;
	font-size: 22px;
	color: black;
	background-color: rgba(251, 244, 225, 0.75);
	text-align: center;
}

img {
	max-width: 100%;
	margin: 0 auto;
}

/* ----- HEADER ----- */
header {
	background-color: rgba(250, 223, 150, 98);
}

header::after {
	content: '';
	display: table;
	clear: both;
}

header h1 {
	font-size: 22px;
	color: rgb(122, 109, 73);
	border: 5px solid rgb(122, 109, 73);
	border-radius: 15px;
	float: left;
	padding: 0.25em;
	margin-left: 0.5em;
}

nav {
	float: right;
}

nav a {
	color: rgb(122, 109, 73);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold
}

nav a:hover {
	color: rgb(199, 176, 119);
	text-decoration: underline;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin: 1.25em 1em 0;
	position: relative;
}

/* ----- ABOUT ----- */
#headshot {
	width: 15em;
	height: 15em;
	border-radius: 50%;
	padding: 2em;
	float: left;
}

#bio {
	float: right;
}

#bio h1 {
	padding: 1em 1em 0;
}

#bio p {
	padding: 0 2em;
	font-family: 'Noto Serif JP', serif;
	font-size: 16px;
}

h1 {
	color: rgb(245, 195, 21);
}

h2 {
	color: rgb(172, 108, 57);
}

.project-title:hover, {
	color: rgb(245, 195, 21);
}

.project-img {
	height: 125px;
	width: 170px;
}

/* ----- CONTACT/FOOTER----- */
#contact {
	color: rgb(245, 195, 21);
}

footer {
	background-color: rgba(250, 223, 150, 98);
}

footer a {
	color: rgb(122, 109, 73);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold
	font-weight: normal;
}

footer a:hover {
	color: rgb(199, 176, 119);
	text-decoration: underline; 
}

footer li {
	color: rgb(122, 109, 73);
	font-weight: bold;
	display: inline-block;
	margin: 1.5em 1.5em 1em;
	position: relative;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* ----- COLOR PALETTE REFERENCE -----

	* Dusty yellow: #CFAE3E, rgb(207, 174, 62);
	* Warm gray: #7A776E, rgb(122, 119, 110)
	* Pale yellow: #FADF96, rgb(250, 223, 150)
	* Warm white: #FBF4E2, rgb(251, 244, 226)
	* Pale brown: #7A6D49, rgb(122, 109, 73)
	* Lighter pale brown: #A99259, rgb(169, 146);
	* Khaki: #C7B077, rgb(199, 176, 119)

----- COLOR PALETTE REFERENCE ----- */