*, *:before, *:after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Varela Round', sans-serif;
	font-size: 22px;
	color: rgb(122, 109, 73);
	background-color: rgb(251, 244, 226);
	text-align: center;
}

h1 {
	float: left;
	font-size: 22px;
	color: rgb(122, 109, 73);
	border: 5px solid rgb(122, 109, 73);
	border-radius: 15px;
	padding: 5px;
	margin-left: 12px;
}

h1 a {
	text-decoration: none;
	color: inherit;
}

h2 {
	color: rgb(245, 195, 21);
	font-size: 60px;
}

h3 {
	color: rgb(122, 109, 73);
}

/* ----- HEADER ----- */
header {
	background-color: rgba(250, 223, 150, 98);
}

header:after {
	content: '';
	display: table;
	clear: both;
}

nav {
	float: right;
}

nav a {
	color: rgb(122, 109, 73);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold
}

nav a:hover {
	opacity: 50%;
	text-decoration: underline;
	transition: ease 100ms;
}

nav ul {
	margin: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin: 25px 25px 0;
}

/* ----- END HEADER ----- */

/* ----- ABOUT ----- */

#about {
	height: 550px;
	background-color: rgb(251, 244, 226);
	padding: 100px;
}

#about:after {
	content: '';
	display: table;
	clear: both;
}

#headshot-img {
	width: 325px;
	height: 325px;
	border-radius: 45px;
	float: left;
	margin-left: 50px;
}

#bio {
	max-width: 750px;
	max-height: 325px;
	float: right;
	margin-right: 50px;
}

#bio p {
	font-family: 'Noto Serif JP', serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 1px;
}

/* ----- END ABOUT ----- */

/* ----- PROJECTS ----- */

#projects {
	padding: 0 50px;
}

#project-blocks {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.block {
	margin: 25px;
	background-color: rgb(199, 176, 119);;
	border-radius: 15px;
	height: 250px;
	width: 250px;
	padding: 25px;
}

.project-title {
	color: rgb(251, 244, 226);
	text-decoration: none;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 1rem;
}

.project-img {
	height: 130px;
	width: 175px;
	margin: 10px;
}

/* ----- END PROJECTS ----- */

/* ----- ART ----- */

#art h3 {
	color: rgb(122, 109, 73);
}

#art .project-title {
	color: rgb(245, 195, 21);
}

#cyrus {
	height: 320px;
	width: 250px;
	margin: 25px 0 50px;
}

/* ----- END ART ----- */

/* ----- CONTACT/FOOTER----- */

footer {
	background-color: rgba(250, 223, 150, 98);
	padding: 10px;
	bottom: 0;
	width: 100%;
}

footer a {
	color: rgb(122, 109, 73);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold
	font-weight: normal;
	font-size: 16px;
}

footer a:hover {
	opacity: 50%;
	text-decoration: underline;
	transition: ease 100ms; 
}

footer h2 {
	margin-top: 0.5em;
}

footer li {
	color: rgb(122, 109, 73);
	font-weight: bold;
	display: inline-block;
	margin: 0 1.5em 1em;
	position: relative;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* ----- COLOR PALETTE REFERENCE -----

	* Dusty yellow: #CFAE3E, rgb(207, 174, 62);
	* Warm gray: #7A776E, rgb(122, 119, 110);
	* Pale yellow: #FADF96, rgb(250, 223, 150);
	* Warm white: #FBF4E2, rgb(251, 244, 226);
	* Pale brown: #7A6D49, rgb(122, 109, 73);
	* Lighter pale brown: #A99259, rgb(169, 146, 89);
	* Khaki: #C7B077, rgb(199, 176, 119);
	* Sunshine Yellow: #F5C315, rgb(245, 195, 21);

----- COLOR PALETTE REFERENCE ----- */