* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Portrait and Landscape for iPhone 6 up to iPhone 8+*/
@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      text-align: center;
      background-color: rgb(251, 244, 226);
      font-family: 'Varela Round', sans-serif;
    }

    /* --------------- Header --------------- */

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      background-color: rgb(250, 223, 150);
    }

    h1 {
      width: 275px;
      border: 5px solid rgb(122, 109, 73);
      border-radius: 15px;
    }

    h1 a {
      color: rgb(122, 109, 73);
      text-decoration: none;
      font-size: 28px;
    }

    nav ul {
      display: flex;
    }

    nav li {
      list-style-type: none;
    }

    nav li:not(:first-child) {
      padding-left: 20px;
    }

    li a {
      text-decoration: none;
      color: rgb(122, 109, 73);
      padding: 10px;
    }

    li a:active {
      color: rgb(251, 244, 226);
      background-color: rgb(122, 109, 73);
      border-radius: 10px;
    }

    /* --------------- Main --------------- */

    #about {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 35px 25px 25px;
    }

    img {
      max-width: 180px;
      height: auto;
      border-radius: 15px;
      margin-bottom: 35px;
    }

    h2 {
      margin-bottom: 15px;
      color: rgb(245, 195, 21);
      font-size: 30px;
    }

    #about p {
        font-family: 'Noto Serif JP', serif;
        font-size: 12px;
        color: rgb(169, 146, 89);
        padding: 0px 10px;
        margin-bottom: 15px;
        line-height: 20px;
    }

    /* --------------- Projects --------------- */

    #projects {
      padding: 0 50px;
      margin-bottom: 25px;
    }

    #projects h3 {
      color: rgb(122, 109, 73);
      padding-top: 25px;
      font-size: 22px;
    }

    #project-blocks {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .block {
      margin: 15px;
      background-color: rgb(199, 176, 119);;
      border-radius: 15px;
      padding: 25px;
    }

    .project-title {
      color: rgb(251, 244, 226);
      text-decoration: none;
      word-wrap: break-word;
      font-family: 'Noto Serif JP', serif;
      font-size: 16px;
    }

    .project-img {
      width: 90%;
      border-radius: 10px;
      margin: 20px 10px 0px;
    }

    /* --------------- Art --------------- */    
 
    #art {
      padding: 25px 0px;
    }

    h3 a {
      margin: 25px;
      text-decoration: none;
      color: rgb(122, 109, 73);
    }

    #artwork-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10pxpx;
    }

    #artwork-section img {
      width: 50%;
      padding: 10px;
    }

    /* --------------- Footer --------------- */
    
    footer {
      padding: 30px 25px 30px;
      background-color: rgb(250, 223, 150);
    }

    footer h3 {
      padding: 5px;
      color: rgb(122, 109, 73);
    }

    p {
      font-size: 12px;
      line-height: 20px;
      color: rgb(169, 146, 89);
      padding: 0px 15px;
    }

    form {
      padding: 5px;
    }

    form label {
      color: rgb(122, 109, 73);
      font-family: 'Noto Serif JP', serif;
      font-size: 12px;
    }

    form input {
      border: none;
      border-radius: 5px;
      font-family: 'Noto Serif JP', serif;
      font-size: 12px;
      color: rgb(122, 109, 73);
      margin: 5px;
    }

    #button {
      font-size: 10px;
      background-color: rgb(207, 174, 62);
      color: rgb(251, 244, 226);
      padding: 5px;
    }

    #button:active {
      background-color: rgb(122, 109, 73);
    }

    #footer-links ul {
      display: inline-flex;
      padding-top: 15px;
      list-style-type: none;
    }
}

/* --------------- Bigger screens --------------- */

@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 2400px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    body {
      text-align: center;
      background-color: rgb(251, 244, 226);
      font-family: 'Varela Round', sans-serif;
    }

    /* --------------- Header --------------- */

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      background-color: rgb(250, 223, 150);
    }

    h1 {
      width: 400px;
      border: 8px solid rgb(122, 109, 73);
      border-radius: 15px;
      padding: 8px;
    }

    h1 a {
      color: rgb(122, 109, 73);
      text-decoration: none;
      font-size: 40px;
    }

    nav ul {
      display: flex;
    }

    li {
      list-style-type: none;
    }

    li:not(:first-child) {
      padding-left: 40px;
    }

    li a {
      text-decoration: none;
      color: rgb(122, 109, 73);
      font-size: 18px;
      padding: 8px;
    }

    li a:hover {
      color: rgb(251, 244, 226);
      background-color: rgb(122, 109, 73);
      border-radius: 10px;
    }

    /* --------------- About Main --------------- */

    #about {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 35px 25px 25px;
    }

    img {
      max-width: 250px;
      height: auto;
      border-radius: 15px;
      margin-bottom: 35px;
    }

    h2 {
      margin-bottom: 15px;
      color: rgb(245, 195, 21);
      font-size: 36px;
    }

    #about p {
        font-family: 'Noto Serif JP', serif;
        font-size: 16px;
        color: rgb(169, 146, 89);
        padding: 0px 80px;
        margin-bottom: 15px;
        line-height: 30px;
    }

    /* --------------- Projects --------------- */

    #projects {
      padding: 0 50px;
    }

    #project-blocks {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .block {
      margin: 25px;
      background-color: rgb(199, 176, 119);;
      border-radius: 15px;
      height: 250px;
      width: 250px;
      padding: 25px;
    }

    .project-title {
      color: rgb(251, 244, 226);
      text-decoration: none;
      word-wrap: break-word;
      font-weight: bold;
      font-size: 1rem;
    }

    .project-img {
      height: 130px;
      width: 175px;
      margin: 10px;
      border-radius: 10px;
    }

    #design-system img,
    #kidgilantes img,
    #patchwork-harmony img,
    #cheatsheet img,
    #glitch img {
      margin: 30px 0px 0px;
    }

    /* --------------- Art --------------- */

    #art {
      padding: 25px;
    }

    h3 a {
      margin: 25px;
      text-decoration: none;
      color: rgb(122, 109, 73);
    }

    #artwork-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 25px;
    }

    /* --------------- Footer --------------- */
    
    footer {
      padding: 30px 25px 30px;
      background-color: rgb(250, 223, 150);
    }

    footer h3 {
      font-size: 24px;
      padding: 5px;
      color: rgb(122, 109, 73);
    }

    p {
      font-size: 14px;
      line-height: 45px;
      color: rgb(169, 146, 89);
      padding: 0px 15px;
    }

    form {
      padding: 5px;
    }

    form label {
      color: rgb(122, 109, 73);
      font-family: 'Noto Serif JP', serif;
      font-size: 16px;
    }

    form input {
      border: none;
      border-radius: 5px;
      font-family: 'Noto Serif JP', serif;
      font-size: 14px;
      color: rgb(122, 109, 73);
      margin: 10px;
    }

    #button {
      font-size: 14px;
      background-color: rgb(207, 174, 62);
      color: rgb(251, 244, 226);
      padding: 5px;
    }

    #button:active {
      background-color: rgb(122, 109, 73);
    }

    #footer-links ul {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 5px;
    }
}

/* ----- COLOR PALETTE REFERENCE -----

  * Dusty yellow: #CFAE3E, rgb(207, 174, 62);
  * Warm gray: #7A776E, rgb(122, 119, 110);
  * Pale yellow: #FADF96, rgb(250, 223, 150);
  * Warm white: #FBF4E2, rgb(251, 244, 226);
  * Pale brown: #7A6D49, rgb(122, 109, 73);
  * Lighter pale brown: #A99259, rgb(169, 146, 89);
  * Khaki: #C7B077, rgb(199, 176, 119);
  * Sunshine Yellow: #F5C315, rgb(245, 195, 21);

----- COLOR PALETTE REFERENCE ----- */