*, *:before, *:after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Varela Round', sans-serif;
	font-size: 22px;
	color: black;
	background-color: rgba(251, 244, 225, 0.75);
	text-align: center;
}

img {
	max-width: 100%;
	margin: 0 auto;
}

/* ----- HEADER ----- */
header {
	background-color: rgba(250, 223, 150, 98);
}

header:after {
	content: '';
	display: table;
	clear: both;
}

header h1 {
	font-size: 22px;
	color: rgb(122, 109, 73);
	border: 5px solid rgb(122, 109, 73);
	border-radius: 15px;
	float: left;
	padding: 0.25em;
	margin-left: 0.5em;
}

nav {
	float: right;
}

nav a {
	color: rgb(122, 109, 73);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold
}

nav a:hover {
	color: rgb(207, 174, 62);
	text-decoration: underline;
	transition: ease-out 100ms;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin: 1.25em 1em 0;
	position: relative;
}

/* ----- ABOUT ----- */
#about {
	margin: 0;
	padding: 0;
}

#about:after {
	content: '';
	display: table;
	clear: both;
}

#headshot-img {
	width: 15em;
	height: 15em;
	border-radius: 50%;
	padding: 2em;
	float: left;
}

#bio {
	margin: 1em;
	padding: 1em;
}

#bio p {
	font-family: 'Noto Serif JP', serif;
	font-size: 16px;
}

h1 {
	color: rgb(245, 195, 21);
	font-size: 2em;
}

h2 {
	color: rgb(122, 109, 73);
}

#projects {
	background-color: rgb(199, 176, 119);
	padding-bottom: 0.5em;
}

#project-blocks {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#projects h2 {
	padding: 0.5em;
}

.block {
	margin: 0.5em;
	background-color: rgb(251, 244, 226);
	height: 240px;
	width: 240px;
	padding: 0.5em 0.25em 0;
}

.project-title {
	color: rgb(245, 195, 21);
	text-decoration: none;
	word-wrap: break-word;
	font-weight: bold;
}

.project-img {
	height: 130px;
	width: 170px;
	margin-top: 0.5em;
}

#art h2 {
	color: rgb(122, 109, 73);
}

#art .project-title {
	color: rgb(250, 223, 150);
}

#cyrus {
	height: 320px;
	width: 250px;
	margin: 0.25em 0 0.5em;
}

/* ----- CONTACT/FOOTER----- */
#contact {
	color: rgb(245, 195, 21);
}

footer {
	background-color: rgba(250, 223, 150, 98);
	padding: 0.5em;
}

footer a {
	color: rgb(122, 109, 73);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold
	font-weight: normal;
	font-size: 16px;
}

footer a:hover {
	color: rgb(207, 174, 62);
	text-decoration: underline; 
}

footer h2 {
	margin-top: 0.5em;
}

footer li {
	color: rgb(122, 109, 73);
	font-weight: bold;
	display: inline-block;
	margin: 0 1.5em 1em;
	position: relative;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* ----- COLOR PALETTE REFERENCE -----

	* Dusty yellow: #CFAE3E, rgb(207, 174, 62);
	* Warm gray: #7A776E, rgb(122, 119, 110);
	* Pale yellow: #FADF96, rgb(250, 223, 150);
	* Warm white: #FBF4E2, rgb(251, 244, 226);
	* Pale brown: #7A6D49, rgb(122, 109, 73);
	* Lighter pale brown: #A99259, rgb(169, 146, 89);
	* Khaki: #C7B077, rgb(199, 176, 119);

----- COLOR PALETTE REFERENCE ----- */